<div class="panel panel-default">
  <div class="panel-heading">
      <h1>BAGUHIN ANG DETALYE</h1>
    </div>
        <div class="panel-body">
            <%= render 'form' %>
            <div class="panel-footer">
                <%= link_to 'BUMALIK', photographs_path, class: "btn btn-default btn-block" %>
            </div>
        </div>
</div>
