<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag @photograph.image.url(:medium) %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= @photograph.title %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @photograph.description %>
  </p>
  
</div>
