<div class="container">
    <div class="jumbotron h1-jumbo">
        <h1>LUGAR NI BLOGGER</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= render 'home/blogger' %>
        </div>
        <div class="panel-body">
            <header class="business-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="img-responsive" src="/assets/3.jpg" alt="">
                            <h1>Si Blogger...</h1>
                            <p class="lead">
                                by <a href="#">R Gregorio</a>
                            </p>
                        </div>
                    </div>
                </div>
            </header>
             <hr>
             
            <div class="row">
            <div class="col-sm-8">
                <h2>Anong ginagawa ko?</h2>
                <p>
                    Isa akong tao, nageexist na ako sa mundo ng 21 years. Minsan ayokong magpakatao, minsan kasi feeling ko Allien ako. Mostly gusto kong umalis, magtravel ba? Ganun.
                    Kahit wala akong pera gusto kong umaalis hindi ko alam kung sadyang gala lang talaga ako. Mahilig din akong bumili ng mga kung anik pero wala akong mga necessity ng isang tao. For example na lang? Wala akong sariling payong
                    ayoko ko kasing bumili feeling ko di ko naman magagamit kaya nakikisukob na lang ako. Mahilig din ako kumaen, madalas ako magcrave ng mga pagkaen na kailangan mo pang dayuhin para lang makaen.
                </p>
                <p>
                    Naniniwala ako sa Love, pero minsan iniisip ko na mas okay na hindi na lang magmahal para hindi masaktan. Playing safe kung baga, madalas kapag medyo malalim na? Umiiwas na ako.
                    Mahirap na! Mahilig akong makinig sa music, music is a part of my daily life. Baka mabasa to ni Ma'am. Lolokohin ako nun. Si paula din kapag nalaman niya tong pinaggagawa ko lolokohin ako nun.
                    Si paula at si Ma'am ang aking napaka bait na taga payong. Minsan TAGAPAYO.
                </p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action »</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Start Bootstrap</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
                <div class="well">
                    <p class="lead">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>