<div class="container">
    <div class="jumbotron h1-jumbo">
        <h1>LUGAR NI BLOGGER</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= render 'home/blogger' %>
        </div>
    </div>
</div>